<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Astt Cam Gui</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<!--  <style>
    .btn-container {
      position: relative;
      display: inline-block;
}
    .btn {
      width: 190px;
      text-align: center;
      cursor: pointer;
}
    .tooltip {
      visibility: hidden;
      position: absolute;
      background-color: #000000;
      white-space: nowrap;
      color: #f1e5e5;
      text-align: center;
      padding: 5px;
      border-radius: 6px;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
    .btn-container:hover .tooltip {
      visibility: visible;
}
  </style> -->

  <!-- Favicons -->
  <link href="static/images/favicon.png" rel="icon">
  <link href="static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- static CSS Files -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="static/css/boxicons.min.css" rel="stylesheet">
  <link href="static/css/quill.snow.css" rel="stylesheet">
  <link href="static/css/quill.bubble.css" rel="stylesheet">
  <link href="static/css/remixicon.css" rel="stylesheet">
  <link href="static/css/dt-style.css" rel="stylesheet">

  <!--Graphs Links-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!--graphs handling script-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <link
    href="//mincss.com/entireframework.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link href="{{url_for('static', filename = 'css/app.css')}}" rel="stylesheet"> -->
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="static/images/logo.png" alt="">
        <span class="d-none d-lg-block">ASTT CAM</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <!-- <a class="nav-link nav-icon search-bar-toggle " href="#"> -->
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell" title="This is an alert bell signals the user for all warnings, errors and fatal system errors, it informs the user on any mishaps that may happen in an operation. For example if the antenna reaches its poistion limits (Elevation and Azumith) this where the notification will pop up."></i><span>Alarms</span><span class="badge bg-danger badge-number">4</span>
          
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>GPS Reciver Failure</h4>
                <p>Couldn't read the values</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Antenna not levelled</h4>
                <p>Not on O deg Elevation</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Source Found</h4>
                <p>2 source have been found </p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Unstow Before Tracking</h4>
                <p>Can't track when the antenna on stow</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li>

      </ul>
    </nav>

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
<!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide" title="This drop down leads to where the sytems stores our log file, the log file consists of the initialization operation of the antenna, then records all operations there on. Note, when the system is reinitialised the logs are wiped and wacked, and a new log file is created."></i><span>Logs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>Latest</span>
              </a>
              <a href="#">
                <i class="bi bi-circle"></i><span>Modes</span>
              </a>  
            </li>
          </ul>
      </li>
    </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>CAM Dashboard</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="col-lg-12">
        <div class="row">
          <div class="card shadow p-5">
            <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h4>Stow-Pin State</h4>
                      <button class="btn btn-secondary" title="This display box is where we display our stow states. i.e when the antenna is about to start pointing, this display box will contantly change as the stow pin is being disengaged and the antenna will start the pointing operation." style="width: 190px;" id="stowState">UNKNOWN</button>
                      <!--<div class="btn-container">
                        <button class="btn btn-secondary" id="stowState">UNKNOWN</button>
                        <span class="tooltip">This is where we display our stow states</span>
                      </div> -->
                      </div>
                    <div class="col">
                      <h4>Modes state</h4>
                      <button class="btn btn-secondary" title="This display box is where we display our modes states, when the Antenna mode button is triggered, this display box will show different operational modes for the simulator as per operation being executed in simulator. " style="width: 190px;" id="modeState">UNKNOWN</button>
                      <!-- <div class="btn-container">
                        <button class="btn btn-secondary" id="modeState">UNKNOWN</button>
                        <span class="tooltip">This is where we display our modes states</span>
                      </div> -->
                    </div>
                    <div class="col">
                      <h4>Functional State</h4>
                      <button class="btn btn-secondary" title="This display box is where we display our functional states, which are namely braked, moving, estop, error and unknown. This gives a indication of what the antenna will be doing depending on the operation being executed. For example if the mode is on pointing then this display box will show that the antenna is moving." style="width: 190px;" id="funcState">UNKNOWN</button>
                      <!--<div class="btn-container">
                        <button class="btn btn-secondary" id="funcState">UNKNOWN</button>
                        <span class="tooltip">This is where we display our functional states</span>
                      </div> -->
                    </div>
                  </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <div class="card shadow p-5">
                  <div class="col-lg-12">
                    <div class="row">
                        <div class="container">
                          <div class="row">
                            <div class="col">
                              <button onclick="openInitModal('')" class="btn btn-primary" title="This button initializes the system, the user must enter a valid password in order for the  the antenna/simulator to be started and subscriptions to sensors are made on the antenna.and the initial values of sensors will be populated above on the states grids above"> <i class='bx bxs-right-arrow'></i> Initialize System</button>
                            </div>
                            <div class="col">
                              <button class="btn btn-primary" title="This button is used when we want to scan for sources i.e the sun and/or the stars or any other optical source(s)."><span class="bi bi-qr-code"></span> Scan Source/s</button>
                              <!--<div class="btn-container">
                                <button class="btn btn-primary"><span class="bi bi-qr-code"></span> Scan Source/s</button>
                                <span class="tooltip">This is where we display sources</span>
                              </div> -->
                            </div>
                            <div class="col">
                              <button class="btn btn-primary" title="This button is used to switch between different antenna modes namely, Idle, Stow and Point. This allows the system to keep strict rules to ensure the antenna is not misused. For example the antenna is set to not be able to point if it is on stow mode."  data-bs-toggle="modal" data-bs-target="#modeModal"><span class='bi bi-arrows-collapse'></span> Antenna Modes</button>
                            </div>
                            <div class="col">
                              <button class="btn btn-primary" title="This button allows us to point to a specific source, we give it pointing targets i.e azimuth and elevation in degrees. When pressed the graphing of the targets will be displayed as the antenna moves to the designated pointing targets." data-bs-toggle="modal" data-bs-target="#pointModal"><span class="bi bi-app-indicator"></span> Point Source</button>
                            </div>
                            <div class="col">
                              <button class="btn btn-primary" title="This button is used for tracking sources, the button allows you to choose a specific source you would like to track at a particular time, i.e We have options to track the Sun and the dstv intelsat." data-bs-toggle="modal" data-bs-target="#trackModal"><span class='bi bi-geo-alt-fill'></span> Track Source</button>
                            </div>
                          </div>
                        </div>
                  </div>    
                </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

                <script>
                  var intializeCount = 0;
                  var modalPopped = false;
                  var systemIntialized = false;
  
                  function initializeComplete(message){
                    alert(message)
  
  
                  }
  
                  // Gets triggered when an init model is closed
                  function closeInitModal(){
                    $("#initModal").modal("hide");
                    modalPopped = false;
                    console.log(modalPopped);
            
                  } 
  
                  function openInitModal(message){
                    if (systemIntialized==true){
                      initializeComplete('System already Initialized');
                    }
                    else{
  
                      var modalMessage = document.getElementById("modalMessage");
                      modalMessage.textContent = message;
                      $("#initModal").modal("show");
                      modalPopped = true;
                      console.log(modalPopped);
                      
                    }
                 
                  }
  
                  $(document).ready(function(){  
                    $('#Submit_Password').click(function(){  
        
                      var password = $('#password').val();  
                      if(password != '') {
                        $.ajax({  
                          url:"{{ url_for('start_astt_gui') }}",  
                          method:"POST",  
                          data: {"button" : "Initialize","password" : password},
                          success:function(data) {
                            if (data == "success"){
                              closeInitModal();
                              initializeComplete('System Initialized');
                              systemIntialized = true;
                              console.log("Success!!");
                            }
                            else{
                              console.log("Failed");
                              openInitModal(data);
                       
                            }
                    
                          },
                       
                        });
                      }
          
                    });    
                  });
  
                </script>
                <!-- Modes Modal -->
                <div class="modal fade" id="modeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Choose Mode</h5>
                      
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/">
                          <select class="form-select" aria-label="Default select example" id="modes" name="modes">
                            <option selected>--Select--</option>
                            <option value="Idle">Idle</option>
                            <option value="Stow">Stow</option>
                            <option value="Point">Point</option>
                          </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Start"></input>
                      </div>
                        </form>
                    </div>
                  </div>
                </div>
                          <!-- Point Modal -->
                <div class="modal fade" id="pointModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Provide Pointing Targets (Degrees)</h5>
                      
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/">
                          <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Azimith</label>
                            <div class="col-sm-10">
                              <input type="number" placeholder="Az values limited to (-127) to (127)" step="0.01" id="azimuth" class="form-control" name ="azimuth" required="required" min="-127" max="127">
                              <span style="font-style: italic; color: red;" id="azErrorMsg"></span>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Elevation</label>
                            <div class="col-sm-10">
                              <input type="number" placeholder="El values limited to (-15) to (92)" step="0.01" id="elevation" class="form-control" name="elevation" required="required" min="-15" max="92">
                              <span style="font-style: italic; color: red;" id="elErrorMsg"></span>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <input type="submit" class="btn btn-primary" id="submitBtn1" value="Point"></input>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            
                <!-- Init Modal -->
                <div class="modal fade" id="initModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="staticBackdropLabel">Enter Password to start the system</h5>
                                     
                        </div>
                        <div class="modal-body">
                           <form method="POST" action="/">
                              <div class="row mb-3">
                                 <label for="inputText" class="col-sm-2 col-form-label">Password</label>
                                 <div class="col-sm-10">
                                  <input type="password" id="password" class="form-control" name ="password" required="required">
                                  <p id="modalMessage"></p>
                                </div>
                                 <div class="modal-footer">
                                    <button type="button" onclick="closeInitModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" id="Submit_Password">Submit Password</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               
            

                            <!-- Track Modal -->
                <div class="modal fade" id="trackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">List of sources to track</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/">
                            <select class="form-select" aria-label="Default select example" id="sources" name="sources">
                              <option selected>Choose source</option>
                              <option value="sun">Sun</option>
                              <option value="satellite">Intel Satellite</option>
                            </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Start Tracking"></input>
                      </div>
                        </form>
                    </div>
                  </div>
                </div>
            <!-- Reports -->
            <div class="col-lg-12">
              <div class="row">
                <div class="card shadow p-5" style="display: flexbox;">
                    <div class="card-body">
                      <script type="text/javascript" src="{{ url_for('static', filename = 'js/graphs.js') }}"></script>
                          <h4>Real Time Sensor Display</h4>
                          <div class="chart-container">
                            <canvas id="myChart" width="1000" height="270"></canvas>
                          </div>
                          <!--Elevation Graph-->
                          <div class="chart2-container">
                            <canvas id="myChart2" width="1000" height="270"></canvas>
                          </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <!-- <div class="copyright">
      &copy; Copyright <strong><span>ASTT CAM</span></strong>. All Rights Reserved
    </div> -->
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      <!-- Designed by <a href="#">SARAO CAM Team</a> -->
    </div>
  </footer><!-- End Footer -->
  <!-- Vendor JS Files -->
  <script src="static/js/apexcharts.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/chartjs/chart.umd.js"></script>
  <script src="static/js/echarts.min.js"></script>
  <script src="static/js/quill.min.js"></script>
  <script src="static/js/simple-datatables.js"></script>
  <script src="static/js/tinymce.min.js"></script>
  <script src="static/js/graphs.js"></script>
  <script src="static/js/states.js"></script>


  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
